<hr style="border: 2px solid;">

<div class="card mb-3" style="width: 99%;">
    <table class="table" style=" margin: 5px;">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <img src="/static/img/techical_image/arrow_green-res.png"
                     alt="Заміна вихід на поле"
                     height="30px"> - Заміна вихід на поле
            </th>
            <th>
                <img src="/static/img/techical_image/goal.png"
                     alt="Забитий гол"
                     height="30px"> - Забитий гол
            </th>
            <th>
                <img src="/static/img/techical_image/card_yellow.png"
                     alt="Жовта картка"
                     height="30px"> - Жовта картка
            </th>
            <th>
                <img src="/static/img/techical_image/card_red.png"
                     alt="Червона картка"
                     height="30px"> - Червона картка
            </th>
        </tr>
        <tr>
            <th>
                <img src="/static/img/techical_image/arrow_res-green.png"
                     alt="Заміна вихід з поля"
                     height="30px"> - Заміна вихід з поля
            </th>
            <th>
                <img src="/static/img/techical_image/own_goal.png"
                     alt="Автогол"
                     height="30px"> - Автогол
            </th>
            <th>
                <img src="/static/img/techical_image/unscored_penalty.png"
                     alt="Не забитий пенальті"
                     height="30px"> - Не забитий пенальті
            </th>
            <th>
                <img src="/static/img/techical_image/card_second_yellow.png"
                     alt="Друга жовта картка"
                     height="30px"> - Друга жовта картка
            </th>

        </tr>
        </tbody>
    </table>
</div>

<hr style="border: 2px solid;">