<style>
    #main_composition {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
    }

    :root #detail, :root #fullPageDetail {
        --zIndex-boxOverContent: 10;
        --zIndex-fixedHeader: 600;
        --zIndex-modalWindow-2: 30;
    }

    .container__detailInner {
        background-color: var(--color-support-5);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        grid-area: detail;
    }

    .lf__lineUp, .lf__side {
        display: flex;
        flex-direction: column;
    }

    .section {
        font-size: 13px;
        line-height: 16px;
        margin: 0 12px 20px;
    }

    .lf__header {
        display: flex;
    }

    .section__title--center {
        justify-content: center;
        text-align: center;
    }

    .section__title {
        align-items: center;
        background-color: var(--color-support-1);
        border-radius: 4px;
        color: var(--color-support-4);
        display: flex;
        font-size: 11px;
        font-weight: 700;
        padding: 6px 12px;
        text-transform: uppercase;
    }
</style>


<hr style="border: 2px solid;">

<div class="lf__lineUp">
    <div class="section__title--center">
        <h3 class="section__title lf__header section__title--center">ОСНОВНИЙ СКЛАД</h3>
        <div class="teams-container">
            <div id="1" class="team">
                <table class="table table-striped">
                    <thead>
                    <tr class="row-header">
                        {% include "matches/includes/match_lineups_heder.html" %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in lineups | sort(attribute='player_role_id') if info.team_id == match.team1_id and
                    info.starting %}
                    {% include "matches/includes/players_in_match.html" %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="2" class="team">
                <table class="table table-striped">
                    <thead>
                    <tr class="row-header">
                        {% include "matches/includes/match_lineups_heder.html" %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in lineups | sort(attribute='player_role_id') if info.team_id == match.team2_id and
                    info.starting %}
                    {% include "matches/includes/players_in_match.html" %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section__title--center">
        <h3 class="section__title lf__header section__title--center">ЗАПАСНІ</h3>
        <div class="teams-container">
            <div class="team">
                <table class="table table-striped">
                    <thead>
                    <tr class="row-header">
                        {% include "matches/includes/match_lineups_heder.html" %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in lineups | sort(attribute='player_role_id') if info.team_id == match.team1_id and
                    info.protocol and not info.starting %}
                    {% include "matches/includes/players_in_match.html" %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="team">
                <table class="table table-striped">
                    <thead>
                    <tr class="row-header">
                        {% include "matches/includes/match_lineups_heder.html" %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in lineups | sort(attribute='player_role_id') if info.team_id == match.team2_id and
                    info.protocol and not info.starting %}
                    {% include "matches/includes/players_in_match.html" %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr style="border: 2px solid;">
