{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/styles_region.css">
<link rel="stylesheet" href="/static/css/styles_matches_season.css">
<link rel="stylesheet" href="/static/css/styles_team.css">
{% endblock %}


{% block aside_left %}
{% endblock %}


{% block content %}


{% include "tournament/includes/tournament_info.html" %}

<div class="card mb-3" style="width: 99%;">
    <div style="padding: 5px">
        <strong>ОПИС:</strong><br>
        <p>
            {{ tournaments.description }}
        </p>
    </div>
</div>

<div class="card mb-3" style="width: 99%;">
    <div style="padding: 5px">
        <strong>ІСТОРІЯ РОЗІГРАШІВ:</strong><br>
        {% include "seasons/season_archive.html" %}
    </div>
</div>


{% endblock %}


{% block aside_right %}

{% endblock %}
