{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/css/region/styles_region.css">
<link rel="stylesheet" href="/css/matches/styles_matches_season.css">
<link rel="stylesheet" href="/css/teams/styles_team.css">
{% endblock %}


{% block aside_left %}
{% endblock %}


{% block content %}


{% include "tournament/tournament_header.html" %}

<div class="card mb-3">

    <div style="padding: 5px; background-color: #636363; text-align: center; color: #ffffff;">
        <strong>ОПИС</strong><br>
    </div>
    <p>{{ tournaments.description }}</p>

</div>

{% if form %}
<div class="card mb-3" style="width: 99%;">
    <div style="padding: 5px; background-color: #636363; text-align: center; color: #ffffff;">
        <strong>СТВОРЕННЯ НОВОГО РОЗІГРАШУ</strong><br>
    </div>
    <div>
        {% include "forms/form_new_season.html" %}
    </div>
</div>
{% endif %}


<div class="card mb-3">
    {% include "seasons/season_archive.html" %}
</div>


{% endblock %}


{% block aside_right %}

{% endblock %}
