<style>
    .header_page {
        margin: 0px;
        padding: 10px;
        background-color: #353535;
        text-align: center;
        color: white;
        border-top: 1px solid #faf7f7;
    }
</style>


<h2 class="header_page">Стрічка новин</h2>


<div class="container" style="width: 100%;">
    {% for news in news_list %}
    <div class="card mb-3" style="width: 99%;">
        <a href="/news/{{ news.id }}">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ news.photo }}" class="img-fluid rounded-start" alt="{{ news.topic }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3>{{ news.topic }}</h3>
                        <h6 class="card-title">{{ news.brief }}</h6>
                        <p class="card-text"><small class="text-muted">{{ news.date }}</small></p>
                        <p class="card-text"><small class="text-muted">{{ news.region_name}}</small></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>