<link rel="stylesheet" href="/static/css/stl_content.css">
<link rel="stylesheet" href="/static/css/news/stl_news_list.css">
<link rel="stylesheet" href="/static/css/season/stl_season_tournament.css">


<h6 class="header_page">Про нас</h6>

<div class="block-info">

    <h6 class="season-titles">МЕТА ПРОЕКТУ</h6>
    <div class="season-block-info">
        <p>Наш сайт створений, щоб об’єднати футбольну спільноту України на одному інтернерт ресурсі.</p>
        <p>Надаючи актуальну інформацію про місцеві турніри, результати матчів і досягнення команд.
           Ми прагнемо підтримувати інтерес до регіонального футболу, забезпечуючи вболівальників,
           гравців і організаторів зручною платформою для відстеження подій, статистики та новин.
           Разом ми популяризуємо спорт і зміцнюємо дух єдності в наших громадах!</p>
    </div>

    <h6 class="season-titles">ПРО САЙТ</h6>
    <div class="season-block-info">
        <p>На сайті ви можете побачити результати та статистику турнірів з різноманітних видів футболу.</p>
        <p>Структура сайту поділяється на всеукраїнські та регіональні турніри.
            До регіональних турнірів відносяться обласні, районні та міські змагання.</p>
    </div>

    <h6 class="season-titles">МОЖЛИВОСТІ САЙТУ</h6>
    <div class="season-block-info">
        <p>За необхідності, ми надаємо доступ до адміністрування місцевого турніру. Відповідальна особа зможе
            заповнювати всі необхідні дані зіграних матчів. Після чого, відбувається автоматичне
            формування необхідної статистики турніру. Статистика включає в себе:
            <br>- турнірну таблицю;
            <br>- статистику бомбардирів та асистентів;
            <br>- перелік жовтих та червоних карток - дискваліфікації;
            <br>- статистику по кожній команді;
            <br>- статистику по кожному гравцю.</p>

    </div>

</div>
