<!doctype html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="android-chrome" type="image/png" sizes="192x192" href="/static/img/logo_site/android-chrome-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/logo_site/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo_site/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo_site/favicon-16x16.png">

    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="/static/css/stl_base.css">
    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>

</head>

<body>
    <!-- Block menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand p-0" href="/">
                <img src="/static/img/icons/icon-uaf.png" alt="Logo" height="35">
                <img src="/static/img/icons/icon-pfl.png" alt="Logo" width="35">
                <img src="/static/img/icons/icon-aafu.png" alt="Logo" width="35">
                <img src="/static/img/icons/icon-site_logo.png" alt="Logo" width="35">
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Матчі та турніри</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="navbar-brand" >
                            <img src="/static/img/icons/icon-tg.png" alt="logo" width="25"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/aafu.org.ua" target="_blank" class="navbar-brand" >
                            <img src="/static/img/icons/icon-fb.png" alt="logo" width="25"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  href="https://www.youtube.com/channel/UCPjEI04Vvcr3U2Ib62tUarA" target="_blank" class="navbar-brand" >
                            <img src="/static/img/icons/icon-youtube.png" alt="logo" width="25"/>
                        </a>
                    </li>
                    <div class="d-flex">
                    {% if user_session %}
                        <li class="nav-item"><a class="nav-link" href="/sign-in">Вийти</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/sign-in">Увійти</a></li>
                    {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Base block -->
    <div class="container">
        <div class="col-12 col-md-11 col-lg-11 mx-auto my-2">
            <div class="row">

                <!-- Right navigation block -->
                <aside class="col-12 col-md-4">
                    <div>
                        <span>ФУТБОЛЬНІ АСОЦІАЦІЇ:</span>
                        <hr id="line">
                    </div>

                    {% for region in regions_list %}
                        <a
                          href="/region/{{ region.slug }}"
                          title="Відкрити всі турніри {{ region.name }} області"
                          data-region-slug="{{ region.slug }}"
                        >
                            <div class="region">
                                <img
                                  src="{{ url_for('static', path='/img/regions/' ~ region.emblem) }}"
                                  alt="{{ region.name }} logo"
                                  width="17rem"
                                  height="21rem"
                                  class="leftMenu__flag"
                                >
                                <span class="leftMenu_text">{{ region.name }}</span>
                            </div>
                        </a>
                        {% if region.slug %}
                        <div class="season">
                          {% for season in seasons %}
                            {% if region.slug == season.region_slug %}
                              <a
                                href="/region/{{ season.region_slug }}/{{ season.season_slug }}/main"
                                title="Відкрити турнір"
                                data-season-slug="{{ season.season_slug }}"
                              >
                                  <div class="tournament">
                                      - {{ season.season_name }}
                                  </div>
                              </a>
                            {% endif %}
                          {% endfor %}
                          <hr>
                        </div>
                        {% endif %}
                    {% endfor %}

                </aside>

                <!-- Block content -->
                <div class="col-12 col-md-8" data-main="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Block footer -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div  class="container" style="color: white; display: block;">
            <p>Асоціація аматорського футболу України © 1998-2024</p>
            <p>
                м.Київ, пров. Лабораторний, 7а. Будинок футболу, к. 214,
                телефон (044) 521-0556, факс (044) 521-0624
            </p>
        </div>
    </div>
</body>


</html>