{% extends "base.html" %}


{% block style %}

{% endblock %}


{% block aside_left %}

{% endblock %}


{% block content %}
  {% if news_list %}
    {% include "news/news_list.html" %}
  {% elif matches %}
    {% include "matches/weekly_match_list.html" %}
  {% elif news_list %}
    {% include "news/news_list.html" %}
  {% elif about %}
    {% include "about.html" %}
  {% elif contacts %}
    {% include "main_contacts.html" %}
  {% endif %}
{% endblock %}


{% block aside_right %}

{% endblock %}

    <script src="{{ url_for('static', path='js/libs/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/home.js') }}"></script>