{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/styles_region.css">
<link rel="stylesheet" href="/static/css/styles_matches_season.css">

<style>
    .header_page {
        margin: 0px;
        padding: 10px;
        background-color: #353535;
        text-align: center;
        color: white;
        border-top: 1px solid #faf7f7;
    }
</style>

{% endblock %}

{% block aside_left %}
{% endblock %}

{% block content %}

<!--Додано блок меню -->
{% include "includes/region_nav_block.html" %}


<!--Стрічка новин по даній області -->
{% if news_list %}
{% include "news/news_list.html" %}
<!--Турніри області -->
{% elif region_tournaments %}
{% include "tournament/tournaments_list.html" %}
<!--Команди області -->
{% elif region_teams %}
{% include "team/teams_list.html" %}
<!--Дійові особи / гравці по даній області -->
{% elif region_persons %}
{% include "persons/persons_list.html" %}
<!--Контакти обласної асоціації -->
{% elif region_contacts %}
{% include "seasons/contacts.html" %}
{% endif %}


{% endblock %}

{% block aside_right %}
{% endblock %}
