{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css/styles_region.css">
    <link rel="stylesheet" href="/static/css/styles_matches_season.css">
    <style>
        .nav-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .region-info {
            display: flex;
            align-items: center;
        }
        .nav-links {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 15px;
        }
        .nav-links li {
            position: relative;
        }
        .nav-links a {
            text-decoration: none;
            padding: 10px;
            color: #fff;
        }
        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1000;
        }
        .dropdown li {
            display: inline-block;
            white-space: nowrap;  /* Це забезпечує, що елементи не будуть переноситися на новий рядок */
        }
        .dropdown li a {
            display: inline-block;
            padding: 10px;
            color: #000;
            text-decoration: none;
            width: auto;  /* Забезпечує автоматичну ширину відповідно до вмісту */
        }
        .nav-links li:hover .dropdown {
            display: block;
        }
    </style>
{% endblock %}

{% block aside_left %}
{% endblock %}

{% block content %}
    <div class="nav-block">
        <div class="region-info">
            <img src="{{ url_for('static', path='/img/regions/' ~ region.emblem) }}" alt="logo {{ region.name }}" width="50">
            <h4>{{ region.name }}</h4>
        </div>

        <ul class="nav-links">
            <li><a href="/region/{{ region.slug }}">Головна</a></li>
            <li><a href="/region/{{ region.slug }}">Новини</a></li>
            <li>
                <a href="#">Турніри</a>
                <ul class="dropdown">
                    {% for tournament in tournaments %}
                        <li><a href="/tournaments/{{ tournament.slug }}">{{ tournament.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="/region/{{ region.slug }}/teams">Команди</a></li>
            <li><a href="/persons">Дійові особи</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </div>

    <div class="card mb-3" style="max-width: 940px; margin: 0 auto;">
        {% for news in news_list %}
            <div class="row g-0 my-2">
                <div class="col-md-4">
                    <img src="{{ news.photo }}" class="img-fluid rounded-start" alt="{{ news.topic }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.topic }}</h5>
                        <p class="card-text">{{ news.brief }}</p>
                        <p class="card-text"><small class="text-muted">Категорія: <strong>{{ news.tournament.name }}</strong></small></p>
                        <p class="card-text"><small class="text-muted">{{ news.event }}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block aside_right %}
<div class="aside-right">
    <h5>Футбольні асоціації/федерації області:</h5>
    {% for organization in region.organizations %}
        <ul>
            <li>
                <a href="/organizations/{{ organization.id }}">{{ organization.name }} - {{ organization.full_name }}</a>
                {% if organization.tournaments %}
                    <ul>
                        {% for tournament in organization.tournaments %}
                            <li>{{ tournament.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
    <p>Команди даного регіону: <a href="/teams"> ---> </a></p>
    <p>Опис: {{ region.emblem }}</p>
</div>
{% endblock %}
