<div class="card text-center">
    <h2>Клубна кар'єра</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="row-header">
            <th scope="col">№</th>
            <th scope="col"></th>
            <th scope="col">Команда</th>
            <th scope="col">Посада</th>
            <th scope="col">Період</th>
            <th scope="col">Матчі</th>
            <th scope="col">Голи</th>
            <th scope="col">ЖК</th>
            <th scope="col">ЧК</th>
        </tr>
        </thead>
        <tbody>
        {% for career in club_career %}
        <tr class="row-default">
            <th scope="row">
                {% if career.player_number %}
                {{ career.player_number }}
                {% else %}
                -
                {% endif %}
            </th>
            <td>
                {% if career.team_logo %}
                <img src="{{ url_for('static', path='/img/teams/' ~ career.team_logo) }}"
                     alt="{{ career.team_name }} logo"
                     height="30px">
                {% endif %}
            </td>
            <td align="left">
                <a class="nav-link" href="/teams/{{ career.team_id }}">
                    {{ career.team_name}} ({{ career.team_city }})
                </a>
            </td>
            <td align="center">
                {{ career.position }}
            </td>
            <td align="center">
                {% if career.startdate == career.enddate %}
                {{ career.startdate }}
                {% else %}
                {{ career.startdate }}
                {% if career.enddate == career.current_year %}
                - н/д
                {% else %}
                - {{ career.enddate }}
                {% endif %}
                {% endif %}
            </td>
            <td align="center">
                {% if career.matches_count %}
                {{ career.matches_count }}
                {% else %}
                -
                {% endif %}
            </td>
            <td align="center">
                {% if career.goals %}
                {{ career.goals }}
                {% if career.penalty_goals %}
                ({{ career.penalty_goals }})
                {% endif %}
                {% else %}
                -
                {% endif %}
            </td>
            <td align="center">
                {% if career.yellow_cards %}
                {{ career.yellow_cards }}
                {% else %}
                -
                {% endif %}
            </td>
            <td align="center">
                {% if career.red_cards %}
                {{ career.red_cards }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
