<link rel="stylesheet" href="/static/css/stl_content.css">
<link rel="stylesheet" href="/static/css/region/styles_region_contacts.css">


<h6 class="header_page">Контакти обласної футбольної огранізації</h6>

<div class="block-info">

    <div class="mb-3 main-contacts">

      <div class="contact-address">
        <p><span>Адреса:</span> {{ contact.address }}</p>
      </div>
      <div class="contact-tel">
        <p><span>Телефони:</span> {{ contact.telephone }}</p>
      </div>
      <div class="contact-mail">
        <p><span>e-mail:</span> {{ contact.email }}</p>
      </div>

    </div>
</div>