<link rel="stylesheet" href="/static/css/stl_content.css">
<link rel="stylesheet" href="/static/css/matches/stl_match_statistic.css">

<hr style="border: 2px solid;">

<div class="block-info">
    <div class="match-informations-icon-row-1">
      <div>
        <img src="/static/img/techical_image/match_event/arrow_green-res.png"
             alt="Заміна вихід на поле">
          - Заміна вихід на поле
      </div>
      <div>
        <img src="/static/img/techical_image/match_event/goal.png"
             alt="Забитий гол">
          - Забитий гол
      </div>
      <div>
        <img src="/static/img/techical_image/match_event/card_yellow.png"
             alt="Жовта картка" style="margin-left: 0.2em">
          - Жовта картка
      </div>
      <div>
        <img src="/static/img/techical_image/match_event/card_red.png"
             alt="Червона картка">
          - Червона картка
      </div>
    </div>
    <div class="match-informations-icon-row-2">
      <div>
        <img src="/static/img/techical_image/match_event/arrow_res-green.png"
             alt="Заміна вихід з поля">
          - Заміна вихід з поля
      </div>
      <div>
        <img src="/static/img/techical_image/match_event/own_goal.png"
             alt="Автогол">
          - Автогол
      </div>
      <div>
        <img src="/static/img/techical_image/match_event/unscored_penalty.png"
             alt="Не забитий пенальті">
          - Не забитий пенальті
      </div>
      <div>
        <img src="/static/img/techical_image/match_event/card_second_yellow.png"
             alt="Друга жовта картка">
          - Друга жовта картка
      </div>
    </div>
</div>

<hr style="border: 2px solid;">