{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/stl_content.css">
{% endblock %}


{% block aside_left %}
{% endblock %}

{% block content %}


<!--Додано блок меню -->
{% include "matches/match_header.html" %}

{% if events %}
{% include "matches/match_review.html" %}
{% endif %}

{% if lineups %}
{% include "matches/match_lineups.html" %}
{% endif %}

{% if statistics %}
{% include "matches/includes/match_statistics.html" %}
{% endif %}

<!--{% if form %}-->
<!--{% include "forms/form_match.html" %}-->
<!--{% endif %}-->

{% include "matches/match_infographics.html" %}



{% endblock %}


{% block aside_right %}

{% endblock %}
