{% extends "base.html" %}

{% block style %}
   <link rel="stylesheet" href="/static/css/styles_matches_season.css">
<style>


    #main, #main_1, #main_2 {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;

}

.teams-container {
    display: flex;
    justify-content: space-between; /* Розміщує елементи на однаковій відстані по горизонталі */
}

.team {
    flex: 1; /* Це забезпечує рівномірний розподіл простору між командами */
    margin: 0 10px; /* Відстань між командами */
     border: 1px solid grey;
}
.region-info {
    color: white;
}
</style>

{% endblock %}



{% block aside_left %}
{% endblock %}

{% block content %}

    <div class="nav-block">
        <div class="region-info">
            <img src="{{ url_for('static', path='/img/logo_tournaments/' ~  match.tournament_logo ) }}"
                 alt="{{ match.tournament_name }} logo" height="90px">
            <h2>
                {{ match.season_name }} {{ match.season_year }}
                {% if match.stage_name %}
                - {{ match.stage_name }}
                {% endif %}
                {% if match.round_name %}
                - {{ match.round_name }}
                {% endif %}
            </h2>
        </div>
    </div>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>
            <img src="{{ url_for('static', path='/img/teams/' ~  match.team1_logo) }}" alt="{{ match.team1_name }} logo"
                 height="120px">
        </td>
        <td align="right">
            <a href="/teams/{{ match.team1_id }}">
                <h4>{{ match.team1_name }} ({{ match.team1_city }})</h4>
            </a>
        </td>
        <td align="center" style="text-align: center; vertical-align: middle;">
            <h5>Дата - {{ match.event }}<br>
                Стадіон - {{ match.stadium_name }} {{ match.stadium_city }}</h5><br>
            <h1>{{ match.team1_goals }} - {{ match.team2_goals }}</h1><br>
            {% if match.team1_penalty and match.team2_penalty %}
            (пен. {{ match.team1_goals }} - {{ match.team2_goals }})
            {% endif %}<br>
        </td>
        <td align="left">
            <a href="/teams/{{ match.team2_id }}">
                <h4>{{ match.team2_name }} ({{ match.team2_city }})</h4>
            </a>
        </td>
        <td>
            <img src="{{ url_for('static', path='/img/teams/' ~  match.team2_logo) }}" alt="{{ match.team2_name }} logo"
                 height="120px">
        </td>
    </tr>
    </tbody>
</table>

   <hr style="border: 2px solid;">

<div class="card text-center">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/matches/{{ match.match_id }}/review">
                    <button type="button" class="btn btn-outline-dark">Огляд</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matches/{{ match.match_id }}/lineups">
                    <button type="button" class="btn btn-outline-dark">Склади команд</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matches/{{ match.match_id }}/statistics">
                    <button type="button" class="btn btn-outline-dark">Статистика</button>
                </a>
            </li>
        </ul>
    </div>
</div>

{% if events %}
{% include "matches/includes/match_review.html" %}
{% endif %}

{% if lineups %}
{% include "matches/includes/match_lineups.html" %}
{% endif %}

{% if statistics %}
{% include "matches/includes/match_statistics.html" %}
{% endif %}

<div id="main_2">


</div>
</div>
</div>
{% endblock %}



{% block aside_right %}

{% endblock %}
