<div class="container" style="width: 100%;">
    {% set unique_stages = [] %}

    {% for stage in matches | sort(attribute='stage_id', reverse=True) if stage.stage_name not in unique_stages %}
    {% set _ = unique_stages.append(stage.stage_name) %}


    <div class="card mb-3" style="width: 100%;">
        <h2 style="background-color: gray; padding: 5px;">
            {{ season.name }} {{ season.year }}
            {% if stage.stage_name %}
            --> {{ stage.stage_name }}
            {% endif %}</h2>

        {% set unique_rounds = [] %}

        {% for round in matches if round.round_name not in unique_rounds and
        round.stage_id == stage.stage_id %}
        {% set _ = unique_rounds.append(round.round_name) %}

        <div class="card mb-3" style="width: 99%; padding: 15px; margin: 6px">

            {% if not round.group_id and round.stage_id %}
                {% for group in matches if group.round_id == round.round_id and group.stage_id == stage.stage_id %}
                    {% if loop.first %}
                    <h4 style="margin: 1px; padding: 5px; background-color: #b5afaf; text-align: center;">
                        {{ round.round_name }}
                    </h4>

                    {% include "matches/includes/matches_in_round.html" %}
                    {% endif %}

                {% endfor %}

            {% else %}

            {% set unique_groups = [] %}
            {% for group in matches if group.group_name not in unique_groups and group.round_id == round.round_id and
            group.stage_id == stage.stage_id %}
            {% set _ = unique_groups.append(group.group_name) %}

            <h4 style="margin: 1px; padding: 5px; background-color: #b5afaf; text-align: center;">
                {% if group.stage_name %} {{ group.stage_name }} -->{% endif %}
                {% if group.group_name %} {{ group.group_name }} -->{% endif %}
                {% if group.round_name %} {{ group.round_name }} {% endif %}
            </h4>

            {% include "matches/includes/matches_in_round.html" %}

            {% endfor %}
            {% endif %}
        </div>

        {% endfor %}
    </div>
    {% endfor %}
</div>
