<style>
    /* Задаємо висоту та ширину для карток */
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
    }

    /* Задаємо фіксовані розміри для зображень */
    .team-logo {
        width: 50%; /* Ширина зображення заповнює ширину контейнера */
        height: 100px; /* Висота зображення */
        object-fit: cover; /* Обрізає частини зображення, щоб заповнити блок */
        border-radius: 0.5rem; /* Можливо, додати заокруглення кутів зображення */
    }
</style>

<h2 class="header_page">Футбольні та футзальні колективи області</h2>

<div class="container" style="width: 100%;">

    <div class="row row-cols-1 row-cols-md-3 g-4" id='teams-container'>

    </div>
</div>


<script src="/static/js/teams/teams_list.js"></script>