{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/stl_content.css">
<link rel="stylesheet" href="/static/css/teams/styles_team_nav_block.css">

{% endblock %}



{% block content %}


<div class="block-info">
<!--Додано блок меню -->
{% include "team/team_header.html" %}

{% if results %}
{% include "team/includes/matches_by_round.html" %}

{% elif upcoming %}
{% include "team/includes/matches_by_round.html" %}

{% elif application %}
{% include "team/includes/players_list.html" %}

{% elif leadership %}
{% include "team/includes/team_staff.html" %}

{% elif achievement %}
{% include "team/includes/team_achievement.html" %}

{% elif history %}
{% include "team/includes/tournaments_history.html" %}
{% endif %}


{% if staff %}
<h6 class="header_page">Досягнення команди</h6>

<div class="block-info">
 <table class="table table-striped table-hover">
    <tbody>
    {% for season in achievement %}
    <tr class="row-default">
        <td>
            Переможець
        </td>
        <td align="left">
            <a href="/region/{{ season.tournament.organization.region.slug }}/{{ season.slug }}">
                {{ season.name }} - {{ season.year }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}


{% endblock %}

</div>