 /* Основні стилі */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h2 {
    color: #333;
    margin-bottom: 1em;
  }

  .region_name {
    text-align: center;
    margin-bottom: 2em;
  }

  .card {
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
  }

  .card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

  .card-body {
    padding: 1.5em;
  }

  .card-title {
    margin-bottom: 1em;
    color: #222;
  }

  .card-text {
    margin-bottom: 0.5em;
    color: #555;
  }

  .nav-item a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }

  .nav-item a:hover {
    color: #0056b3;
  }

  .aside-list {
    list-style: none;
    padding: 0;
  }

  .aside-list li {
    margin-bottom: 0.5em;
  }

  .aside-list ul {
    padding-left: 1em;
  }

  .aside-list li ul li {
    margin-bottom: 0.5em;
  }

  .aside-right p {
    margin: 1em 0;
  }

  .aside-right h5 {
    margin-bottom: 1em;
    color: #333;
  }

  .aside-right a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .aside-right a:hover {
    color: #0056b3;
  }

  .aside-left,
  .aside-right {
    background-color: #f8f9fa;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
  }

  .aside-left h2,
  .aside-right h5 {
    margin-bottom: 1em;
    color: #333;
  }

  .aside-left ol,
  .aside-right ul {
    list-style: none;
    padding: 0;
  }

  .aside-left ol li,
  .aside-right ul li {
    margin-bottom: 0.5em;
  }

  .aside-left ol li a,
  .aside-right ul li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }

  .aside-left ol li a:hover,
  .aside-right ul li a:hover {
    color: #0056b3;
  }

  .aside-right ul {
    padding-left: 1em;
  }

  .aside-right ul ul {
    padding-left: 1.5em;
  }

  .aside-right ul li ul li {
    margin-bottom: 0.3em;
  }

  .aside-right p {
    margin: 1em 0;
    color: #555;
  }