{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/styles_region.css">
<link rel="stylesheet" href="/static/css/styles_matches_season.css">
<link rel="stylesheet" href="/static/css/styles_team.css">
{% endblock %}


{% block aside_left %}
{% endblock %}


{% block content %}


<article style="padding: 1px; width: 100%;">

    <h3 style="text-align: center;">Інформація про стадіон</h3>
    <hr style="border: 2px solid;">
    <div class="container" style="border: 1px solid #d6d2d2; width: 100%;">
        <table>
            <tbody>
            <tr>
                <td>
                    <div>
                        <div class="team-logo" style="padding: 20px; border: #cccccc;">
                            {% if stadium.photo %}
                            <img src="{{ url_for('static', path='/img/stadium/' ~ stadium.photo) }}"
                                 alt="{{ stadium.name }} logo" width="300px">
                            {% else %}
                            <img src="{{ url_for('static', path='img/person/tamplate.png') }}"
                                 alt="{{ stadium.name }} logo" width="200px">
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="team-details" style="padding: 20px; width: 100%;">
                        <h3>
                            {{ stadium.name }} {{ stadium.city }}
                        </h3>
                        <hr style="border: 1px solid;">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><strong>Збудовано:</strong></td>
                                <td>
                                    {% if stadium.year %}
                                    {{ stadium.year }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Вміщає:</strong></td>
                                <td>
                                    {% if stadium.capacity %}
                                    {{ stadium.capacity }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Розміри поля:</strong></td>
                                <td>
                                    {% if stadium.dimensions %}
                                    {{ stadium.dimensions }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Тип покриття:</strong></td>
                                <td>
                                    {% if stadium.type_coverage %}
                                    {{ stadium.type_coverage.value }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Адреса:</strong></td>
                                <td>
                                    {% if stadium.address %}
                                    {{ stadium.address }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Домашня команда/ди:</strong></td>
                                <td>
                                    {% for team in taems %}
                                    <a href="/teams/{{ team.slug }}/application">
                                        {{ team.name }} ({{ team.city }})<br>
                                        {% endfor %}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr style="border: 2px solid;">

</article>


{% endblock %}


{% block aside_right %}

{% endblock %}
