<form method="post" action="/seasons" data-region-name="{{ tournaments.region_name }}">
    <!-- Поле вибору сезону -->
    <input type="hidden" name="tournament_slug" id="tournament_slug" value="{{ tournaments.slug }}">


    <div class="mb-3">
        <label for="tournamentName" class="form-label">Назва турніру</label>
        <input type="text" class="form-control" id="tournamentName"
               value="{{ tournaments.name }}" readonly>
        <input type="hidden" id="tournament_id" name="tournament_id" value="{{ tournaments.id }}">
    </div>

    <div class="mb-3">
        <label for="seasonName" class="form-label">Введіть/Редагуйте назву даного розіграшу</label>
        <input type="text" class="form-control" id="seasonName" name="name" aria-describedby="tournamentHelp"
               value="{{ tournaments.name }}" oninput="updateSlug()">
        <div class="form-text">Наприклад: Чемпіонат чи Кубок</div>
    </div>

    <div class="mb-3">
        <label for="startDate" class="form-label">Дата початку розіграшу</label>
        <input type="date" class="form-control" id="startDate" name="start_date" placeholder="yyyy-mm-dd">
    </div>

    <div class="mb-3">
        <label for="endDate" class="form-label">Дата закінчення розіграшу</label>
        <input type="date" class="form-control" id="endDate" name="end_date" placeholder="yyyy-mm-dd">
    </div>

    <div class="mb-3">
        <label for="period" class="form-label">Період розіграшу</label>
        <input type="text" class="form-control" id="period" name="year" aria-describedby="periodHelp"
               placeholder="2023/24 або інший варіант">
    </div>

    <div class="mb-3">
        <label for="season_slug" class="form-label">Унікальне значення турніру</label>
        <input type="text" class="form-control" id="season_slug" name="slug" readonly aria-describedby="tournamentHelp">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="tournamentTable" name="standing">
        <label class="form-check-label" for="tournamentTable">Турнірна таблиця</label>
    </div>

    <button type="submit" class="btn btn-primary">Створити сезон</button>
</form>

<script>
    document.getElementById('startDate').addEventListener('change', updatePeriod);
    document.getElementById('endDate').addEventListener('change', updatePeriod);

    // Автоматичне формування періоду
    function updatePeriod() {
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        if (startDate && endDate) {
            const startYear = new Date(startDate).getFullYear();
            const endYear = new Date(endDate).getFullYear();

            let period;
            if (startYear === endYear) {
                period = `${startYear}`;
            } else {
                period = `${startYear}-${String(endYear).slice(-2)}`;
            }

            document.getElementById('period').value = period;

            // Оновлюємо slug після зміни періоду
            updateSlug();
        }
    }

    // Транслітерація
    function transliterate(text) {
        const cyrillicToLatinMap = {
            'а': 'a', 'б': 'b', 'в': 'v', 'г': 'h', 'ґ': 'g', 'д': 'd', 'е': 'e', 'є': 'ye', 'ж': 'zh', 'з': 'z',
            'и': 'y', 'і': 'i', 'ї': 'yi', 'й': 'y', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n', 'о': 'o', 'п': 'p',
            'р': 'r', 'с': 's', 'т': 't', 'у': 'u', 'ф': 'f', 'х': 'kh', 'ц': 'ts', 'ч': 'ch', 'ш': 'sh', 'щ': 'shch',
            'ю': 'yu', 'я': 'ya', 'ь': '', 'ъ': '', 'э': 'e', 'ы': 'y'
        };

        return text.split('').map(function (char) {
            const lowerChar = char.toLowerCase();
            if (cyrillicToLatinMap[lowerChar] !== undefined) {
                return cyrillicToLatinMap[lowerChar];
            }
            return char;
        }).join('');
    }

    // Оновлення slug
    function updateSlug() {
        const tournamentName = document.getElementById('tournamentName').value.trim();
        let seasonName = document.getElementById('seasonName').value.trim();
        const period = document.getElementById('period').value.trim();

        // Якщо користувач не ввів значення для seasonName, використовуємо tournamentName
        if (!seasonName) {
            seasonName = tournamentName;
            document.getElementById('seasonName').value = seasonName;
        }

        // Створюємо slug для seasonName
        let slug = transliterate(seasonName)
            .toLowerCase()
            .replace(/[^a-z0-9]+/g, '-')  // Замінюємо всі не-латинські символи на дефіси
            .replace(/^-+|-+$/g, '');     // Видаляємо дефіси з початку і кінця

        // Додаємо період до slug, якщо він заданий
        if (period) {
            slug = `${slug}-${period}`;
        }

        document.getElementById('season_slug').value = slug;
    }


    document.getElementById('seasonName').addEventListener('input', updateSlug);
    document.getElementById('period').addEventListener('input', updateSlug);

    // Автопідстановка назви турніру в поле seasonName
    document.addEventListener('DOMContentLoaded', function () {
        const seasonNameInput = document.getElementById('seasonName');
        if (!seasonNameInput.value.trim()) {
            seasonNameInput.value = document.getElementById('tournamentName').value.trim();
        }
    });

    // Форма для відправки даних
    document.querySelector('form').addEventListener('submit', async function (e) {
        e.preventDefault();
        const form = e.target;

        const regionName = form.getAttribute('data-region-name');
        const startDateEpoch = new Date(form.startDate.value).getTime() / 1000;
        const endDateEpoch = new Date(form.endDate.value).getTime() / 1000;

        const data = {
            name: form.seasonName.value,
            start_date: startDateEpoch,
            end_date: endDateEpoch,
            year: form.period.value,
            standing: form.tournamentTable.checked ? 1 : 0,
            slug: form.season_slug.value,
            tournament_id: form.tournament_id.value,
        };

        const response = await fetch('/seasons', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        if (response.ok) {
            const result = await response.json();
            const season_slug = data.slug;
            const tournamentSlug = document.getElementById('tournament_slug').value;

            window.location.href = `/tournaments/${tournamentSlug}/new_season`;
        } else {
            console.error('Помилка при створенні сезону');
        }
    });
</script>
