<link rel="stylesheet" href="/static/css/teams/styles_from_create_new_team.css">

<form id="teamCreateForm"
      class="block-info-add rows-team-create"
      method="post"
      action="/teams/new_team"
      enctype="multipart/form-data">

    <input type="hidden" name="season_id" value="{{ season.season_id }}">
    <input type="hidden" name="region_slug" id="regionSlugPage" value="{{ region.slug }}">
    <input type="hidden" name="season_slug" id="seasonSlugPage" value="{{ season.season_slug }}">
    <!-- <input type="hidden" class="" id="full-name-input" name="full_name" readonly> -->
    <input type="hidden" class="" id="team_slug" name="slug" readonly required>



    <div class="t-team-add-num"></div>
    <div class="t-team-add-logo">
            <img src="/static/img/techical_image/icon_team.PNG">
        </div>
    <div class="t-team-add-name">
        <input type="text" class="form-input create-name"
               id="teamName"
               name="name"
               placeholder="Назва команди"
               required>
    </div>
    <div class="t-team-add_city">
        <input type="text" class="form-input create-city"
               id="cityName"
               name="city"
               placeholder="Населений пункт"
               required>
    </div>
    <div class="t-team-add_region">

        <select class="form-input input-region"
                id="regionName"
                name="region_id"
                required>

          <option selected disabled>Оберіть область</option>
          {% for region in regions_list %}
            <option value="{{ region.id }}" data-slug="{{ region.slug }}">
                {{ region.name }}
            </option>
          {% endfor %}
        </select>

    </div>

    <button class="btn-create-new_team"
            type="submit"
            onclick="uploadFormModal.showModal()"
    >
        Створити нову команду
    </button>

    <input id="full-name-input" name="full_name" readonly>
</form>


<!-- Повідомлення про успіх -->
<div id="successMessage"  style="display: none; background-color: #28a745; color: white; padding: 10px; margin-top: 10px;">
    Команда успішно створена!
</div>


<!-- Модальне вікно для запиту про завантаження логотипу -->
    <div id="uploadLogoModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Завантажити логотип</h4>
                <span class="close" id="closeLogoModal">&times;</span>
            </div>
            <div class="modal-body">
                <p>Ви бажаєте завантажити логотип для цієї команди?</p>
            </div>
            <div class="modal-footer">
                <button id="completeHere" class="btn btn-secondary">Залишитись тут</button>
                <button id="addLogo" class="btn btn-primary">Додати</button>
            </div>
        </div>
</div>


<!-- Модальне вікно для форми завантаження логотипу -->
<div id="uploadFormModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h4>Завантажити логотип</h4>
            <span class="close" id="closeUploadFormModal">&times;</span>
        </div>

        <div class="modal-body">
            <form id="logoForm" method="post" enctype="multipart/form-data">
                <input type="file" name="logo" id="logoInput" required>
                <!-- Приховані поля для передачі region_slug та team_slug -->
                <input type="hidden" name="region_slug" id="regionSlugInput" value="{{ region.slug }}">
                <input type="hidden" name="team_slug" id="teamSlugInput" value="{{ slug }}">
                <button type="submit" class="btn btn-primary">Завантажити</button>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/forms/form_create_new_team.js"></script>


