<div class="card mb-3" style="width: 99%; padding: 10px; background-color: #afadad">

    <h3 class="header_page">ЗАЯВИТИ КОМАНДУ</h3>

    <div style="padding: 20px 0px 70px 20px;">
        <div id="successMessage_add_team"
             style="display: none; background-color: #28a745; color: white; padding: 10px; margin-top: 10px;">
            Команда успішно заявлена!
        </div>

        <div id="errorMessage_add_team"
             style="display: none; background-color: #f13636; color: white; padding: 10px; margin-top: 10px;">
            Команда вже заявлена!
        </div>

        <form method="post" action="/seasons/add_teams" id="add-teams-form">

            <input type="hidden" name="season_id" value="{{ season.season_id }}">
            <input type="hidden" name="region_slug" value="{{ region.slug }}">
            <input type="hidden" name="season_slug" value="{{ season.season_slug }}">

            <!-- Поле введення назви команди -->
            <div class="mb-3">
                <label for="team-name-input" class="form-label">Введіть назву команди</label>
                <input type="text" class="form-control" id="team-name-input"
                       placeholder="Почніть вводити назву команди">
            </div>

            <!-- Поле введення назви міста -->
            <div class="mb-3">
                <label for="team-city-input" class="form-label">Введіть назву населеного пункту</label>
                <input type="text" class="form-control" id="team-city-input" placeholder="Почніть вводити назву міста">
            </div>

            <!-- Поле введення назви регіону -->
            <div class="mb-3">
                <label for="team-region-input" class="form-label">Введіть назву регіону</label>
                <input type="text" class="form-control" id="team-region-input"
                       placeholder="Почніть вводити назву регіону">
            </div>

            <!-- Список варіантів команд -->
            <div class="mb-3">
                <label class="form-label">Виберіть команду</label>
                <select id="team-select" class="form-select" name="team_id" aria-label="Select a team" size="3">
                    {% for team in add_team %}
                    <option value="{{ team.id }}">
                        <a href="/teams/{{ team.id }}">{{ team.name }} ({{ team.city }}, {{ team.region.name}})</a>
                    </option>
                    {% endfor %}
                </select>
            </div>

<!--            <button type="submit" class="btn btn-primary">Добавить команду</button>-->
            <button type="submit" id="declare-team" class="btn btn-primary">Заявити команду</button>

        </form>

      <!-- Приховане поле для введення season_slug -->
    <input type="hidden" id="season_slug" name="season_slug" value="{{ season.season_slug }}">

    <div id="teamList">
        <!-- Тут буде відображено список команд -->
    </div>


    </div>
</div>



<script src="/static/js/forms/form_add_team_in_season.js"></script>

