<!--Standing => content by tables -->


<div class="standing-rows standing-header">
    <div class="table-num">№</div>
    <div class="table-logo"></div>
    <div class="table-team">Команда</div>
    <div class="table-games">І</div>
    <div class="table-win">В</div>
    <div class="table-draw">Н</div>
    <div class="table-defeat">П</div>
    <div class="table-goals">Г</div>
    <div class="table-goal-dif">РМ</div>
    <div class="table-points">ОЧ.</div>
    <div class="table-form">ФОРМА</div>
</div>