<link rel="stylesheet" href="/css/region/stl_region_nav_block.css">

<div class="nav-block">
    {% if season %}
    <div class="region-info">
        <a href="/tournaments/{{ season.tournament_slug }}">
            <img class="logo_redion_in_season"
              src="{{ url_for('static', path='/img/logo_tournaments/' ~ season.tournament_logo ) }}"
              alt="logo {{ season.season_name }}" width="50"
              width="30">
            <h4>{{ season.season_name }} {{ season.season_year }}</h4>
        </a>
    </div>
    {% endif %}

    <div class="nav-links">
        <a href="/region/{{ region.slug }}/{{ season.season_slug }}/main">Головна</a>
        <a href="/region/{{ region.slug }}/{{ season.season_slug }}/results">Результати</a>
        <a href="/region/{{ region.slug }}/{{ season.season_slug }}/upcoming">Матчі</a>

        {% if season.standing %}
            <a href="/region/{{ region.slug }}/{{ season.season_slug }}/standings">Таблиця</a>
        {% endif %}

        <a href="/region/{{ region.slug }}/{{ season.season_id }}/{{ season.tournament_slug }}/archive">Архів</a>
    </div >
</div>

<!--there are buttons for admin-->
{% if is_authenticated %}
<div class="btn-admin">
    <div class="nav-links">
      <a href="/tournaments/{{ season.tournament_slug }}/new_season">Створити новий розіграш</a>
      <a href="/region/{{ region.slug }}/{{ season.season_slug }}/clubs">Команди</a>
      <a href="/region/{{ region.slug }}/{{ season.season_slug }}/schedule">Календар матчів</a>
    </div >
</div>
{% endif %}