{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/region/styles_region.css">
<link rel="stylesheet" href="/css/matches/styles_matches_season.css">
<link rel="stylesheet" href="/css/teams/styles_team.css">
{% endblock %}

{% block content %}

{% include "persons/person_header.html" %}

{% if matches %}
{% include "persons/includes/person_matches.html" %}
{% endif %}

{% if club_career %}
{% include "persons/includes/person_club_career.html" %}
{% endif %}

{% if tournaments %}
{% include "persons/includes/person_tournaments.html" %}
{% endif %}

{% endblock %}
