<style>
    .titleh4 {
        padding: 5px;
    }

    .titleh5 {
        padding: 5px;
    }
</style>


<h2 class="header_page">Контакти обласної футбольної огранізації</h2>

<div class="container" style="width: 100%;">
    <div class="card mb-3" style="width: 99%;">

        <h4 class="titleh4">Адреса:</h4>
        <h5 class="titleh5">{{ contact.address }}</h5><br>

        <h4 class="titleh4">Телефони:</h4>
        <h5 class="titleh5">{{ contact.telephone }}</h5><br>

        <h4 class="titleh4">e-mail:</h4>
        <h5 class="titleh5">{{ contact.email }}</h5><br>

    </div>
</div>