{% extends "base.html" %}

{% block style %}
<!--<link rel="stylesheet" href="/css/region/styles_region.css">-->
<!--<link rel="stylesheet" href="/css/matches/styles_matches_season.css">-->
<!--<link rel="stylesheet" href="{{ url_for('static', path='css/styles_season.css') }}">-->
<link rel="stylesheet" href="/static/css/stl_content.css">
{% endblock %}


{% block aside_left %}
{% endblock %}


{% block content %}


<!--Додано блок меню -->
{% include "seasons/season_header.html" %}

<!--Головна сторінка розіграшу (+/- 7 днів) -->
{% if main %}
    {% include "matches/matches_by_season.html" %}

<!--Зіграні матчі розіграшу -->
{% elif results %}
    {% include "matches/matches_by_season_result.html" %}

<!--Майбутні матчірозіграшу та повний календар матчів турніру-->
{% elif upcoming %}
    {% include "matches/matches_by_season.html" %}

<!--Турнірна таблиця -->
{% elif standings %}
    {% include "seasons/standing/standings.html" %}

<!--Архів сезонів -->
{% elif seasons_archive %}
    {% include "seasons/season_archive.html" %}

<!--Головна сторінка турніру/сезону -->
{% elif information %}
    {% include "seasons/season_tournament.html" %}

<!--Команди, які заявлені в розіграш (Додавання команди в розіграш) -->
{% elif seasons_clubs %}
{% include "seasons/season_teams.html" %}  <!--Teams list from season -->


<!--Календар матчів (Додавання матчів у розіграш) -->
{% elif seasons_schedule %}
{% include "forms/form_add_new_match.html" %}
<h6 class="header_page">КАЛЕНДАР МАЧТІВ</h6>
{% include "matches/matches_by_season.html" %}

{% endif %}


{% endblock %}


{% block aside_right %}
{% endblock %}
